<app-main></app-main>

<!-- <div>
  <input
    type="file"
    (change)="onFilesSelected($event)"
    multiple
    accept="image/*"
  />

  <div *ngIf="images.length > 0">
    <h2>Image Previews</h2>
    <div *ngFor="let image of images">
      <img [src]="image.src" [alt]="image.label" width="100" />
      <input type="text" [(ngModel)]="image.label" placeholder="Enter label" />
    </div>
    <button (click)="trainModel()">Train Model</button>
  </div>

  <div *ngIf="model">
    <h2>Model Trained!</h2>
    <input
      type="file"
      (change)="onTestFilesSelected($event)"
      multiple
      accept="image/*"
    />
    <div *ngIf="predictions.length > 0">
      <h2>Predictions</h2>
      <div *ngFor="let prediction of predictions">
        <img [src]="prediction.src" width="100" />
        <p>Predicted Label: {{ prediction.label }}</p>
      </div>
    </div>
  </div>
</div> -->
